<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!------- CSS --------------->
    <link rel="stylesheet" href="../css/terms/terms.css">
    
    <!------- GOOGLE FONTS --------------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <!------- ICON UNICONS --------------->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>PlayStation</title>
    <link rel="icon" href="../images/logo.svg">
</head>
<body>
  
  <!------- HEADER --------------->
    <header class="header">
      <nav id="nav">
      
      <div class="logo">
        <div id="menu-mobile">
          <img class="menu-mobile" src="../images/menu-mobile.svg" alt="menu do dispositivo mobile">
        </div>
        <img class="logo-img" src="../images/logo.svg" alt="logo do PlayStation" />
        <h2 class="logo-titulo">PlayStation</h2>
      </div>
    
      <div class="menu">
        <ul class="links">
          <li class="nav-link"> <a href="/index.html"> Home</li></a>
          <li class="nav-link"> <a href="#"> About</li></a>
          <li class="nav-link"> <a href="#"> Produt</li></a>
          <li class="nav-link"> <a href="/index.html#faq"> FAQs</li></a>
          <li class="nav-link"> <a href="#"> Contact</li></a>
          
          <div class="btn-dark-mode" >
             <img id="btn" src="../images/Dark.svg" alt="botão do dark mode"> 
          </div>
        </ul>
      </div>
    </nav>
    </header>

   <!-------MAIN --------------->
    <main class="main">
      <section class="section privacy grid" >

        <div class="privacy-container">
          <span class="sub-title">Politics</span>
            <h2>Privacy <span class="section-span">Policy</span></h2>

            <h4>1. Chargeback Policy</h4>
            <p>We collect your data according to your access and use of our websites, applications and services offered by Playstation or by partners that have been duly authorized by us.</p>

            <p>1.1 Information will be collected:</p>

            <ul>
              <li>(i) When you voluntarily complete the registration available on our</li>
              <li>(ii) During your browsing on our websites, being stored in your computer's browser;</li>
              <li>(iii) To send newsletters or inform you about promotions and contests, provided you give us permission to do so; </li>
              <li>(iv) From partners who have obtained authorization to share them with Playstation.</li>
            </ul>

              <p>1.2 The information PlayStation collects may include, but is not limited to:</p>

              <ul>
                <li>(i) Registration data¹ and address; </li>
                <li>(ii) Data for the verification of the User's identity; </li>
                <li>(iii) Data for data management processes; and</li>
                <li>(iv) Navigational data.</li>
              </ul>

             
        </div>
      </section>
    </main>

    

    <!------- FOOTER --------------->
   <footer class="footer">
    <section class="section grid footer-container ">
     <hr class="hr-line">

     <div class="footer-content">
       <div class="left-footer">
         <div class="logo-footer">
          <img class="footer-icon" src="../images/logo.svg" alt="logo do PlayStation" />
          <h2 class="logo-titulo">PlayStation</h2>
           <p class="footer-description">Welcome to PlayStation Plus. Enhance your   PlayStation experience with online multiplayer, monthly games, exclusive   discounts and more.</p>
        </div>
          <div class="social">
           <a href="https://github.com/EvanderInacio" target="_blank"><i class="uil uil-github"></i></a>
           <a href="https://www.linkedin.com/in/evander-inacio/" target="_blank"><i class="uil uil-linkedin-alt"></i></a>
           <a href="#"><i class="uil uil-instagram"></i></a>
         </div>
      </div>

      <div class="right-footer">
         <div class="services"> 
           <h4 class="footer-h4">Services</h4>
           <a class="footer-a" href="#">Produts</a>
         </div>
         <div class="company">
           <h4 class="footer-h4">Company</h4>
           <a class="footer-a" href="/index.html">Home</a>
           <a class="footer-a" href="#">About</a>
           <a class="footer-a" href="#faq">FaQs</a>
         </div>
         <div class="suport">
           <h4 class="footer-h4">Suport</h4>
           <a class="footer-a" href=".././html/Terms.html">Terms of Service</a>
           <a class="footer-a" href=".././html/privacy.html">Privacy Policy</a>
           <a class="footer-a" href=".././html/contact.html">Contact Us</a>
         </div>
      </div>
    </div>
      <hr class="hr-line">
     <p class="copy">Copyright 2022 Playstation - All Rights Rleserved</p>
    </section>
  </footer>
</body>

 <!-------- JS --------------->
 <script src="../js/main.js"></script>
</html>
