
/*======================= HOME =======================*/

.home-container {
  gap: 1rem;
  padding-top: 5.9rem;
}

.home-content {
  text-align: center;
  position: relative;
}

.home-titulo {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.circle-titulo {
  display: none;
}

.home-description {
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
  text-align: center;
}

.btn-about-more {
  padding: var(--mb-0-5);
  color: #ffff;
  background: var(--button-color-span);
  border: 2px solid var(--button-color-span);
  border-radius: 6px;
}

.btn-about-more:hover {
  background: #5f52f1;
  border-color: #5f52f0;
}

.btn-explore {
  color: var(--buttom-color);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
  margin-left: 1rem;
}

.sony {
  position: absolute;
  margin-left: 3.5rem;
  text-align: center;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.5rem;
  z-index: -1;
}

.home-img {
  margin-top: 10rem;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.desktop {
  display: none;
}

.ps4-img {
  display: none;
}

.controle {
  display: none;
}


/*====================== ABOUT =======================*/

.about-container{
  padding-top: 10rem;
}

.about-img {
  display: none;
}

.about-home-title {
  font-size: var( --h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: var(--mb-1-5);
}

.about-home-description {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  font-family: var(--text-font);
}

.about-list {
  margin: var(--mb-2-5) 0;
  font-size: 0.9rem;
  margin-left: 2.5rem;
}

.about-list li {
  margin-bottom: 1rem;
  position: relative;
  color: var(--text-color);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
}

.about-list li::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: 0.5rem;
  width: 20px;
  height: 5px;
  background: var(--button-color-span);
  border-radius: 5px;
}

.button-about {
  padding: var(--mb-0-5);
  background: var(--button-color-span);
  border: 2px solid var(--button-color-span);
  border-radius: 6px;
  display: inline-block;
}

.button-about a {
  color: #ffff;
}

.button-about:hover {
  background: #5f52f1;
  border-color: #5f52f0;
}

.icone-animation:hover {
  transition: .3s;
  transform: translateY(-7px);
}


/*====================== FUNCTIONS =======================*/

.function-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
}

.function-description {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  font-family: var(--text-font);
  margin-bottom: var(--mb-2-5);
}

.function-content {
  width: auto;
  height: auto;
  text-align: center;
  border: 1px solid var(--card-border);
  border-radius: 56px;
  padding: 1rem;
  background: var(--background-card);
}

.card-content {
  display: grid;
  justify-items: center;
  padding: 5rem 0;
}

.card-content h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
}

.card {
  text-align: center;
  border: 1px solid var(--card-border);
  background: var(--card-color);
  width: 15rem;
  padding: 4rem 2rem;
  border-radius: 25px;
  margin-bottom: 25px;
  position: relative;
}

.card img,
.card h3 {
  margin-bottom: var(--mb-1);
}

.card-animation:hover {
  transition: .4s;
  transform: translateY(-10px);
}


.line-function {
  width: 80px;
  height: 6px;
  background: rgb(51, 41, 160);
  transform: matrix(0, -1, -1, 0, 0, 0, 1);
  position: absolute;
  left: 5rem;
}

.circle-function {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: rgb(51, 41, 160);
  position: absolute;
  left: 9.5rem;
  bottom: 3.3rem;
}


/*====================== TOP CARDS =======================*/

.top-content-card {
  display: grid;
}

.top-title {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
  color: var(--title-color);
}

.top-description {
  text-align: center;
  margin-bottom: var(--mb-4);
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  font-family: var(--text-font);
}

.top-content-card {
  justify-content: center;
}

.top-card {
  padding-top: 3rem;
  border: 1px solid var(--card-border);
  background: var(--controle-color);
  width: 16rem;
  height: 26rem;
  border-radius: 10px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
}

.img-controller-top{
  position: relative;
}

.border-top::before {
  content: '';
  position: absolute;
  left: 2.5rem;
  width: 10.5rem;
  height: 10rem;
  background: #362ba9;
  border-radius: 50%;
}

.card-title {
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
  font-size: var(--h5-font-size);
  color: var(--title-color);
  margin-top: var(--mb-1);
}

.ps5-control{
  margin-top: 3rem;
}

.card-controle {
  margin-top: -3.5rem;
}

.estrela {
  display: flex;
  padding-left: 3.6rem;
}

.estrela p{
  color: var(--text-color);
  font-size: var(--h5-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
}

.top-money {
  margin-top: 2rem;
  text-align: start;
  padding-left: 2.5rem;
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.icon-cart{
  font-size: 2.3rem;
  position: absolute;
  top: -.3rem;
  left: 1rem;
}

.cart {
  width: 4rem;
  height: 3rem;
  border: 1px solid #302a6f;
  border-radius: 5px;
  background: #302a6f;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart:hover {
  background: #5f52f1;
  border-color: #5f52f0;
}


/*========= FAQ ==================*/
.sub-title{
  margin-top: 6rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  font-family: var(--text-font);
  color: var(--text-color);
  margin-bottom: -1rem;
}

.faq-title{
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
}

.faq-description{
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  font-family: var(--text-font);
}

.faq-content{
  border: 2px solid var(--card-border);
  border-radius: 25px;
  padding: 1.5rem 0;
  background: var(--background-second);
}

.hr-line{
  width:90%;
  height: 1px;
  margin: auto;
}

.faq-page {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
  cursor: pointer;
  padding: 30px 0;
  width: 85%; 
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.faq-body{
  margin: auto;
  padding: 0 18px;
  margin-bottom: 1rem;
  display: none;
  overflow: hidden;
  font-size: var(--h5-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

.faq-body p{
  margin-bottom: var(--mb-2);
}

.faq-page:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  float: right;
  margin-left: 5px;
}

.active:after {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}


/*=============== MEDIA QUERS =======================*/

@media (max-width: 350px){
  .sony{
    margin-left: 2rem;
  }

  .home-button{
    display: grid;
  }
}

@media (min-width: 568px) {

  /*=============== HOME ==================*/
  .home-titulo {
    font-size: 3rem;
    font-family: var(--font-semi-bold);
  }

  .home-description {
    font-size: 1rem;
  }
  .home-img {
    width: 20rem;
  }

  /*=============== ABOUT ==================*/
  .about-title {
    font-size: 2.5rem;
  }

  /*============= TOP CARDS ===============*/
  .top-content-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  /*============= FAQ ========================*/
  .faq-content{
    width: 95vw;
  }

  .faq-page{
    font-size: var( --h5-font-size);
  }

  .faq-body{
    font-size: var(--normal-font-size);
    margin: 0 2rem;
  }
}

@media (min-width: 768px) {

  /*=============== HOME ==================*/
  .home-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-data {
    justify-content: flex-start;
    margin-top: 5rem;
    position: relative;
  }

  .home-titulo {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0.1rem;
  }

  .controller {
    margin-left: -3rem;
  }

  .home-description {
    font-size: 0.9rem;
  }

  .btn-explore {
    padding: 1rem;
    gap: 2rem;
  }

  .btn-explore:hover {
    color: var(--button-color-span);
  }

  .sony {
    position: absolute;
    text-align: center;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .desktop {
    display: block;
  }

  .home-data-img {
    position: relative;
  }

  .home-img {
    margin-top: 0;
    width: 26rem;
    position: relative;
  }

  .superior {
    top: 10rem;
    left: -12rem;
    color: var(--text-color);
    padding-left: 10rem;
    font-size: xx-small;
    position: absolute;
  }

  .line1 {
    position: absolute;
    width: 5px;
    height: 60px;
    left: 16rem;
    top: -0.7rem;
    background: rgba(51, 41, 160, 0.582);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .circle1 {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 17rem;
    top: 0.6rem;
    border-radius: 50%;
    background: #362ba9;
    box-shadow: 0px 0px 3px 1px #302a6f;
  }

  .inferior {
    margin-left: 16rem;
    margin-top: -2rem;
    color: var(--text-color);
    font-size: xx-small;
    position: absolute;
  }

  .line2 {
    position: absolute;
    width: 5px;
    height: 150px;
    left: 1.5rem;
    top: -9.6rem;
    background: rgba(51, 41, 160, 0.582);
    transform: matrix(0, -1, -1, 0, 0);
  }

  .circle2 {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    left: 1.15rem;
    top: -10rem;
    border-radius: 50%;
    background: #362ba9;
    box-shadow: 0px 0px 3px 1px #302a6f;
  }

  .controle {
    display: block;
  }

  /*=========== ABOUT ==============*/
  .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-title {
    font-size: 3rem;
  }

  .about-img {
    display: block;
    width: 26rem;
  }


  /*=========== FUNCTIONS ==============*/
  .function-content{
    padding: 0 5rem;
  }

  .function-title {
    font-size: var(--h2-font-size);
  }

  .function-description{
    font-size: var(--h5-font-size);
  }

  .card h3{
    font-size: var(--normal-font-size);
  }

  .card-content {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 3rem;
  }

  /*============= TOP CARDS ===============*/
  .top-title {
    font-size: var(--h2-font-size);
  }

  .top-description{
    font-size: var(--h5-font-size);
  }

  .top-card h5{
    font-size: var(--h5-font-size);
  }

  .estrela p{
    font-size: var(--small-font-size);
    text-align: center;
    padding: .2rem .3rem;
  }

  .top-money{
    font-size: var(--normal-font-size);
    color: var(--text-color);
  }

}

@media (min-width: 994px){
  
  /*============= ABOUT ========================*/
  .about-container{
    padding-top: 0;
  }

  /*============= FAQ ========================*/
  .faq-content{
    width: 70vw;
  }
  
}

@media (min-width: 1200px) {

  /*=============== HOME ==================*/
  .home-data {
    justify-content: flex-start;
    margin-top: 5rem;
    margin-left: -20rem;
  }

  .home-titulo {
    font-size: 4rem;
  }

  .sony {
    position: absolute;
    text-align: center;
    margin-top: 4rem;
    left: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-img {
    width: 30rem;
    position: relative;
  }

  .superior {
    top: 12rem;
    left: -21rem;
    font-size: small;
  }

  .inferior {
    font-size: small;
  }

  .line1 {
    width: 5px;
    height: 130px;
    left: 21rem;
    top: -3rem;
    background: rgba(51, 41, 160, 0.582);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .circle1 {
    content: '';
    position: absolute;

    width: 17px;
    height: 17px;
    left: 25rem;
    top: 0.5rem;

    border-radius: 50%;
    background: #362ba9;
    box-shadow: 0px 0px 3px 1px #302a6f;
  }


  /*============= ABOUT ===============*/
  .about-title {
    font-size: 3rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .about-list li::before {
    top: 0.7rem;
  }
  
  .about-list {
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
  }

  .about-img {
    width: 50rem;
    margin-top: -10rem;
  }

  /*============= FUNCTIONS ===============*/
  .functions-container {
    margin-top: -8rem;
  }
  
  .function-content{
    padding: 0 4rem;
  }

  .card-content {
    grid-template-columns: repeat(3, 1fr);
  }

  /*============= TOP CARDS ===============*/
  .top-content-card {
    grid-template-columns: repeat(3, 1fr);
  }

  /*============= FAQ ========================*/
  .faq-content{
    width: 60vw;
  }
}
