/*============== FOOTER ==============*/
.footer-container {
  justify-content: center;
}

.left-footer,
.right-footer {
  margin: 0 2rem;
}

.logo-footer{
  position: relative;
}

.footer-icon{
  position: absolute;
  width: 1.3rem;
  left: -1.3rem;
  top: 1.5rem;
}

.footer-description {
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
  margin-bottom: var(--mb-1);
  text-align: left;
}

.social a {
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 5px;
}

.social a:hover{
  color: var(--menu-color-hover);
}

.left-footer {
  margin-bottom: var(--mb-2);
}

.services,
.company,
.suport {
  margin-bottom: 2rem;
}

.footer-h4 {
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.footer-a {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

.footer-a:hover{
  color: var(--menu-color-hover);
}

.copy {
  text-align: center;
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

@media (min-width: 568px) {
  .footer-container {
    display: inline;
  }

  .footer-description{
    text-align: start;
    overflow: hidden;
    width: 320px;
  }

  .right-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer-icon{
   width: 2rem;
  }

  .footer-description {
    margin-bottom: 2rem;
  }

  .right-footer {
    margin-top: 1.3rem;
  }

  .copy {
    margin: 2rem 0;
  }

}
