

/* =========== RESET ============ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
 background-color: var(--background);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section{
  justify-content: center;
  margin-bottom: 8rem;
}

.section-title{
  color: var(--title-color);
  font-family: var(--tittle-font);
}

.section-span{
  color: var(--button-color-span);
}

span{
  color: var(--buttom-color-span);
}



/*============ VARIABLES ====================*/

:root{
  --header-height: 4.5rem;
  --background: hsl(0, 0%, 100%);
  --menu-text: hsl(0, 0%, 50%);
  --menu-color: hsl(0, 35%, 91%);
  --menu-color-hover: hsl(0, 0%, 0%);
  --title-color: hsl(0, 0%, 1%);
  --text-color: hsl(236, 7%, 48%); 
  --button-color: hsl(236, 7%, 48%);
  --button-color-span: hsl(245, 59%, 42%);
  --background-card: hsla(0, 0%, 80%, 0.246);
  --card-color: hsla(0, 0%, 64%, 0.226);
  --card-border: hsl(0, 0%, 80%);  
  --controle-color: hsla(0, 0%, 64%, 0.15);; 
 

  /*======= FONTS FAMILY =========*/
  --title-font: 'Poppins', sans-serif;
  --text-font: 'Roboto', sans-serif;

  /*====== FONTS SIZE ======*/
  --big-font-size: 2.5rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  
  /*====== FONTS PESO (WEIGHT) =======*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  
  /*======= MARGINS =========*/
  --mb-0-5: 0.5rem;
  --mb-0-25: 0.25rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  
}

@media (min-width: 768px) {
 :root{
  --big-font-size: 5rem;
  --h1-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --h5-font-size: 1.2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
 }
}

.dark-theme{ 
  --background: hsl(245, 58%, 7%);
  --menu-text: hsl(0, 0%, 50%);
  --menu-color: hsl(0, 0%, 23%);
  --menu-color-hover: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(249, 12%, 65%);
  --buttom-color: hsl(249, 12%, 65%);
  --buttom-color-span: hsl(245, 59%, 42%);
  --background-card: hsl(249, 16%, 9%);
  --card-color: hsl(222, 15%, 23%);
  --card-border:  hsl(222, 15%, 23%); 
  --controle-color: radial-gradient(50% 50% at 50% 50%, #20178D 0%, #17124B 100%);
 
}


/*============ SCROLL BAR =========================*/

body::-webkit-scrollbar {
  width: 10px;             
}

body::-webkit-scrollbar-thumb {
  background-color: #362BA9;  
  border-radius: 1px;      
}



