

/* =========== RESET ============ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
 background-color: var(--background);
  width: 100vw;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/*============ VARIABLES ====================*/
:root{
  --background: hsl(245, 58%, 7%);
  --title-text: hsl(0, 0%, 50%);
  --menu-color: hsla(0, 0%, 23%, 0.164);
  --menu-color-hover: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 100%);
}

.sun-theme{
  --background: hsl(0, 0%, 96%);
  --title-text: hsl(0, 0%, 50%);
  --menu-color: hsla(0, 35%, 91%, 0.459);
  --menu-color-hover: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 0%);
}

