@import url(/assets/css/global.css);

/*=============== NAV =======================*/
nav{
  float: right;
}

.logo{
  background: var(--menu-color);
}

.logo-titulo {
  display: none;
}

.logo-img {
 margin: 1.6rem -1rem 1rem 1rem;
}

@media (max-width: 767px){
nav .menu {
  position: absolute;
  height: 100%;
  width: 8.7rem;
  z-index: 10;
  background: var(--menu-color);
  text-align: center;
  display: none;
}
}

/*====== Show menu ========*/
#nav.active .menu{
  display: block;
}

#menu-mobile{
  width: 2rem;
  float: right;
  margin: 2rem;
}

.nav-link{
  margin: 2rem 0;
}

.links .btn-dark-mode {
  width: 2.5rem;
  margin: 3rem ;
}

.links a {
  color: var(--title-text);
}

.links a:hover {
  color: var(--menu-color-hover);
}

/*====== dark-mode ========*/
#btn{
  cursor: pointer;
  color: var(--title-text);
}







@media (min-width: 768px) {
  #nav {
    justify-content: space-around;
    top: 0;
    width: 100vw;
  }

  #menu-mobile{
    display: none;
  }

  .header #nav .menu{
    height: 1rem;
  }

  #nav {
    display: flex;
   justify-content: space-around;
  }

  .logo{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background);
    margin: 1rem;
  }
  
  .logo-img{
    width: 2rem;
    margin: -1.3rem;
  }

  .logo-titulo{
    display: block;
    font-size: 1.2rem;
    margin: 1.4rem;
    text-align: center;
    color: var(--text-color);
  }

  .links{
    display: flex;
    gap: 2rem;
    margin: .5rem;
  }

  .btn-dark-mode img{
    position: relative;
    top: -1rem;
  }

  

}
